body {
    background: $gray;
    .container {
        width: 60%;
    }
}

// App
.App {
    .header-input {
        padding: 4em 3em;
        .AppLogo {
            height: 75px;
            margin: 0 auto;
            margin-bottom: 3em;
            background: $white;
            border-radius: 8px;
            box-shadow: 0 8px 20px #EEE;
        }
        input.form-control {
            @include transition(.3s);
            background: $white;
            box-shadow: 0 10px 35px rgba(0,0,0,0.02);
            border: none;
            padding: 35px 25px;
            border-radius: 4px;
            font: $light 22px $roboto;
            color: #555;
        }
        input.form-control:focus {
            box-shadow: 0 10px 35px rgba(0,0,0,0.07);
        }
        input.form-control::-webkit-input-placeholder {
            color: #AAA;
        }
        .TaskType {
            position: absolute;
            right: 50px;
            top: 20px;
            background: #EEE;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            span {
                position: relative;
                top: 5px;
                left: 9px;
                width: 10px;
                text-align: center;
                // background: red;
                font-size: 13px;
                color: #777;
            }
        }
    }
}
.TaskList {
    padding-bottom: 8em;
    .TaskRange {
        padding: 0 1em 1em;
        margin: 0.5em auto;
        h1 {
            font-size: 100px;
        }
        h2 {
            text-align: center;
            font: $thin 22px $roboto;
            color: #666;
        }
        h4 {
            text-align: center;
            font: $light 24px $roboto;
            color: #888;
        }
        ul {
            position: relative;
            left: -20px;
            .CardList {
                padding: 10px;
                .CardItem {
                    @include transition(.3s);
                    // background: $white;
                    // box-shadow: 0 0 30px #F0F0F0;
                    background: linear-gradient(45deg, $primary 0%, $secondary 85%);
                    padding: 30px 25px;
                    border-radius: 4px;
                    p {
                        font: $normal 15px $roboto;
                        margin-bottom: 5px;
                        color: rgba(255,255,255,0.6);
                    }
                    li {
                        list-style: none;
                        font: $light 18px/140% $roboto;
                        color: $white;
                        // text-transform: uppercase;
                    }
                    .TaskIcon {
                        position: absolute;
                        right: 30px;
                        top: 36px;
                        background: $white;
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                        span {
                            width: 20px;
                            text-align: center;
                            position: relative;
                            left: 10px;
                            top: 10px;
                            font-size: 13px;
                            color: $secondary;
                        }
                    }
                }
                .CardItem:hover {
                    // -webkit-transform: translate(-5px, 0);
                    cursor: pointer;
                    box-shadow: 0 8px 30px #E5E5E5;
                }
            }
        }
    }
}
